/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container{
	display:flex;
	flex-direction:column;
	margin: 0% 20% 0% 20%;
}
nav{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding: 1%;

}

.links{
	display:flex;
	width:70%;
	justify-content:space-around;
}

.links a{
	text-decoration:none;
	color:gray;
}

header{
	display:flex;
	margin-top:6%;
	margin-bottom:10%;
}

header div{
	display:flex;
	width:50%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header h1{
    font-size: 470%;
    width:60%;
    text-align:center;
}

header button{
	border:1px solid black;
    padding:1% 6%;
    background:white;
    cursor:pointer;
}

.top-content{
	display:flex;
	border-top: 1px solid black;
	padding:4% 0%;
}

.bottom-content{
	display:flex;
	border-bottom:1px solid black;
	padding: 4% 0%;
}

.contact{
	margin-top:5%;
}

.contact p{
    margin:1% 0%;
}

footer{
	margin:4% 0%;
	text-align:center;
}

/* Responsive Style - Tablet */ 

@media screen and (max-width:767px){
    .container{
        margin:0%;
    }
    nav{
        flex-direction:column-reverse;
    }

    .links{
        justify-content:space-around;
        width:100%;
        padding:4%;
    }

    header img{
        display:none;
    }

    header div{
        margin-left: 25%;
    }

    header h1{
        width:90%;
    }
}